@model IEnumerable<AuthorViewModel>
@{
    ViewData["Title"] = "Genre List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!User.Identity.IsAuthenticated)
{
    <h1 class="heading">You do not have access to view the data on this page</h1>
}
else
{
    <div class="div-block-18">
        <h2 class="heading-2">
            Authors
        </h2>
        @if (User.IsInRole("Administrator"))
        {
            <a class="createbtn w-button text-black" asp-action="Create">Create new</a>
        }
    </div>
    <div id="w-node-b8974190-80ed-9567-1ee2-29d752334a94-4d8efa88" class="w-layout-layout quick-stack-2 wf-layout-layout">
        @foreach (var author in Model)
        {
            <div id="w-node-cfaa6eca-eb95-75fe-cd47-b3e5b3ee8ccd-4d8efa88" class="w-layout-cell cell">
                <p class="themainlable">
                    @author.FirstName @author.LastName
                </p>
                <div class="div-block-20">
                    <p class="mainlable">
                        First name
                    </p>
                    <p class="secondlabel">
                        @author.FirstName
                    </p>
                </div>
                <div class="div-block-20">
                    <p class="mainlable">
                        Last name
                    </p>
                    <p class="secondlabel">
                        @author.LastName
                    </p>
                </div>
                <div class="div-block-20">
                    <p class="mainlable">
                        Birth date
                    </p>
                    <p class="secondlabel">
                        @author.BirthDate.ToShortDateString()
                    </p>
                </div>
                <div class="div-block-20">
                    <p class="mainlable">
                        Country
                    </p>
                    <p class="secondlabel">
                        @author.Country
                    </p>
                </div>

                @if (User.IsInRole("Administrator"))
                {
                    <div class="div-block-19">
                        <a class="editbtn w-button text-white" asp-action="Edit" asp-route-id="@author.Id">Edit</a>
                        <a class="deletebtn w-button text-white" asp-action="Delete" asp-route-id="@author.Id">Delete</a>
                    </div>
                }
            </div>
        }
    </div>
}
