@model IEnumerable<TransactionViewModel>
@{
    ViewData["Title"] = "Transaction List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Administrator"))
{
    <div class="div-block-18">
        <h2 class="heading-2">
            Transactions
        </h2>
        <a class="createbtn w-button text-black" asp-action="Create" asp-route-readerId="@ViewBag.ReaderId">Create new</a>
    </div>
    <div id="w-node-b8974190-80ed-9567-1ee2-29d752334a94-4d8efa88" class="w-layout-layout quick-stack-2 wf-layout-layout">
        @foreach (var transaction in Model)
        {
            <div id="w-node-cfaa6eca-eb95-75fe-cd47-b3e5b3ee8ccd-4d8efa88" class="w-layout-cell cell">
                <p class="themainlable">
                    @transaction.BookName
                </p>
                <div class="div-block-20">
                    <p class="mainlable">
                        Return date
                    </p>
                    <p class="secondlabel">
                        @transaction.ReturnDate
                    </p>
                </div>
                <div class="div-block-20">
                    <p class="mainlable">
                        Checkout date
                    </p>
                    <p class="secondlabel">
                        @transaction.CheckoutDate
                    </p>
                </div>
                <div class="div-block-20">
                    <p class="mainlable">
                        Transaction status
                    </p>
                    <p class="secondlabel">
                        @transaction.TransactionStatusName
                    </p>
                </div>

                <div class="div-block-19">
                    <a class="editbtn w-button text-white" asp-action="Edit"
                       asp-route-readerId="@transaction.ReaderId" asp-route-id="@transaction.Id">Edit</a>
                    <a class="deletebtn w-button text-white" asp-action="Delete"
                       asp-route-readerId="@transaction.ReaderId" asp-route-id="@transaction.Id">Delete</a>
                    @if (transaction.TransactionStatusId == 1)
                    {

                        <a asp-action="Close" class="closebtn w-button text-white btn-secondary"
                           asp-route-readerId="@transaction.ReaderId" asp-route-id="@transaction.Id">Close</a>
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <h1 class="heading">You don't have accsess to this page</h1>
}
